@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

:root{
    --red:#E62429;
}

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    transition: all .3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
    font-weight: normal;
}

::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background:#000;
}

html::-webkit-scrollbar-thumb{
    background:var(--red);
} 

section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 11rem;
}

.btn{
    display: inline-block;
    padding:.7rem 4rem;
    font-size: 2rem;
    color:#fff;
    background:var(--red);
    padding-top: 1rem;
    margin-top: 1rem;
}

.btn:hover{
    transform:scale(1.02);
}

.heading{
    text-align: center;
    color:var(--red);
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:#666;
}

header{
    position: fixed;
    top:2.5rem; left:50%;
    transform:translateX(-50%);
    width:93%;
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 3rem;
    border-radius: .5rem;
}

header .logo{
    color:#333;
    font-size: 2.5rem;
}

header .logo span{
    color:var(--red);
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
   font-size: 2rem;
   color:#333;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--red);
}

#menu{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1)), url(images/about-img-min.png) no-repeat;
    background: #000, url(images/about-img-min.png) no-repeat; 
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
    padding:4rem 0;
}

.home .content h3{
    color:var(--red);
    font-size: 4rem;
    padding-bottom: 1rem;
}

.home .content h1{
    color:#fff;
    font-size: 7rem;
}

.home .content p{
    color:#aaa;
    font-size: 2.5rem;
    padding:1rem 0;
}